    body {
        background-image: url(./public/background.jpg);
        background-size: 150%;
        background-position: top;
        color: #fff;
        font-size: 1.5rem;
        text-align: center;
    }
    
    .container {
        align-items: center;
        justify-content: center;
    }
    
    .header {
        align-items: center;
        font-size: 4rem;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    
    #quote {
        border: 1px solid #fff;
        border-radius: 100px;
        color: #fff;
        padding: 50px;
    }
    
    #quotebackground {
        background-color: #000;
        opacity: 0.75;
        border-radius: 100px;
    }
    
    #authorbackground {
        width: 100px;
        background-color: #000;
        opacity: 0.75;
        border-radius: 100px;
        margin: auto;
    }
    
    #author {
        width: 100px;
        font-size: 1rem;
        margin-bottom: 50px;
        border: 1px solid #fff;
        border-radius: 100px;
        color: #fff;
    }
    
    .timer {
        width: 50%;
        font-size: 3.5rem;
        background-color: #000;
        border: 1px solid;
        border-radius: 100px;
        margin: auto;
    }
    
    .buttonFrame {
        width: 100%;
        margin: auto;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    
    .button {
        font-size: 2.5rem;
        font-weight: bold;
        background-color: #c25915;
        border-radius: 100px;
        border: 1px solid #fff;
        width: 125px;
        height: 125px;
        margin: auto;
        justify-content: center;
        align-items: center;
    }