body {
  background-image: url(./public/background.jpg);
  background-size: 150%;
  background-position: top;
  color: #fff;
  font-size: 2em;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 0px;
  grid-auto-rows: auto;
  align-items: center;
  justify-content: center;
}

.header {
  grid-column: 1/5;
  grid-row: 1;
  align-items: center;
  font-size: 4rem;
}

#quote {
  grid-column: 1/5;
  grid-row: 2;
  border: 2px solid #fff;
  border-radius: 20px;
}

#author {
  grid-column: 4;
  grid-row: 3;
  width: 100%;
  text-align: right;
  font-size: 1rem;
}

.timer {
  grid-column: 2/4;
  grid-row: 4;
  font-size: 3.5rem;
  background-color: #000;
  border: 2px solid;
  border-radius: 20px;
}

.button {
  grid-column: 2/4;
  grid-row: 5;
  font-size: 4rem;
  font-weight: bold;
  background-color: #c25915;
  border-radius: 20px;
  border: 1px solid #fff;
}